* {
    margin: 0;
    padding: 0;
}

aside {
    width: 18%;
    height: 100%;
    float: left;
    background: -webkit-linear-gradient(right, #141313c7, #000000b6);
    text-align: center;
    position: fixed;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section {
    width: 82%;
    float: right;
}

img {
    position: unset;
    bottom: 5;
}